<nav>
        <div class="logo">
          <h1><strong>TASTEVERSE</strong></h1>
        </div>
        <ul>
          <a href="#main">Home</a>
          <a id="foods" href="#food">Foods</a>
          <a id="dishs" href="#dish">Best Dishes</a>
          <a id="orders" href="#order">Contribute</a>
          <button onclick="window.location.href='login.html'">Log In</button>
          <form>
            <input type="text"
                   placeholder="Search for recipes..."
                   class="searchBox"/>
            <button type="submit" class="searchBtn">Search</button>
          </form>
        </ul>
      </nav>